body {
    margin: 0;
    padding: 0;
    background-color: #121212;
}

* {
    font-family: "Roboto", serif;
    color: white;
    user-select: none;
}

a {
    text-decoration: none;
}

.notes-typein {
    color: black;
    height: 120px;
    resize: none;
    border: transparent 0px solid;
    
}

.note-buttons {
    color: black;
    display: flex;
    flex-direction: row;
}

.note-title {
    height: 20px;
    width: 50%;
    display: inline-block;
    color: black;
}

.save-note {
    width: 100%;
    background-color: rgb(0, 190, 6);
    color: white;
    border: transparent 0px solid;
    font-weight: bolder;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    height: 30px;
}

.save-note:hover {
    opacity: 0.8;
}

.reset-note {
    width: 100%;
    background-color: rgb(190, 0, 0);
    color: white;
    border: transparent 0px solid;
    font-weight: bolder;
    cursor: pointer;
    height: 30px;
    transition: all 0.3s ease-in-out;
}

.reset-note:hover {
    opacity: 0.8;
}

.verse_nohover:hover {
    opacity: 1 !important;
}

.watermark-intro {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #121212;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.attributes {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    margin: 20px;
}

.attribute {
    border-radius: 100px;
    width: fit-content;
    height: 30px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 5px !important;
}

.watermark-text {
    font-weight: normal;
}

.watermark {
    width: 80px;
    height: 80px;
}

.bottombar {
    width: 100%;
    height: 60px;
    background-color: #121212;
    position: fixed;
    bottom: 0;
    border-top: #3e3e3e solid 1px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    z-index: 1000;
}

.code-logo {
    background: radial-gradient(circle at top, #d03c34 , #80242c)
}

.button {
    background-color: #eeeeee;
    width: 60px;
    height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    transition: all 0.3s ease-in-out;
}

.button:hover {
    opacity: 0.7;
    cursor: pointer;
}

.button-text {
    width: 93px;
    text-align: center;
    color: #7a7a7a;
    margin: 0;
    padding: 0;
    font-size: 13px;
}

.button-img {
    height: 22.5px;
    width: 22.5px;
    margin: 0;
    padding: 0;
    margin-bottom: 5px;
}


.menu-linker {
    display: none;
}

.selected-text {
    color: white;
}

.selected-img {
    filter: brightness(1000%);
}

.welcome-message {
    background: linear-gradient(to right, #cf33ff, #9000ff, #4c63af);

}

.verse {
    width: 800px;
    display: flex;
    border-radius: 8px;
    border: #3e3e3e solid 1px;
    height: fit-content;
    margin: 20px;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
    flex-direction: column;
}

.verse:hover {
    cursor: pointer;
    opacity: 0.75;
}

.verse-item {
    margin-bottom: 15px;
    margin-left: 40px;
    margin-right: 10px;
}

.verse-text {
    font-weight: 400;
}

.verse-name {
    font-weight:500;
}

.verse-logo {
    width: 100%;
    height: 160px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.welcome-homepage {
    width: 100%;
    height: fit-content;
    background-color: #121212;
    border-bottom: #3e3e3e solid 1px;
    padding-bottom: 10px;
}

.hope-logo {
    background-image: url("../images/verses_logos/hope.avif");
}

.faith-logo {
    background-image: url("../images/verses_logos/faith.webp");
}

.peace-logo {
    background-image: url("../images/verses_logos/peace.jpg");
}

.love-logo {
    background-image: url("../images/verses_logos/love.avif");
}

.strength-logo {
    background-image: url("../images/verses_logos/strength.webp");
}

.wisdom-logo {
    background-image: url("../images/verses_logos/wisdom.webp");
}

.gratitude-logo {
    background-image: url("../images/verses_logos/gratitude.jpg");
}

.comfort-logo {
    background-image: url("../images/verses_logos/comfort.jpg");
}

.encouragement-logo {
    background-image: url("../images/verses_logos/encougment.jpg");
}

.justice-logo {
    background-image: url("../images/verses_logos/justice.jpg");
}

.prayer-logo {
    background-image: url("../images/verses_logos/praying.webp");
}

.gods-promise-logo {
    background-image: url("../images/verses_logos/gods_promise.webp");
}

.content {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;
}

@media screen and (max-width: 864px) {
    .verse {
        width: 90%;
    }

    .bottombar {
        height: 65px;
    }

    .button {
        height: 100px;
        width: 100px;
    }

    .button-img {
        height: 20px;
        width: 20px;
    }

    .button-text {
        font-size: 11px;
    }

    .verse-text {
        font-size: medium;
    }

    .translations-linker {
        display: none;
    }


    .menu-linker {
        display: flex;
    }

    .verse-name {
        font-size: medium;
    }

    .verse-text {
        font-size: small;
    }

    .verse-logo {
        height: 100px;
    }
}